<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">suyai</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/new" class="nav-link">New</a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/body-splash" class="nav-link">Body plash</a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/sleep" class="nav-link">Sleep</a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/sports" class="nav-link">Sports</a>
           
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link">Contact</a>
           
          </li>
        </ul>
      </div>
    </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>-->
<div class="hero">
  <nav>
    <h2 class="logo"></h2>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/new">New</a></li>
      <li><a routerLink="/body-splash">Body splash</a></li>
      <li><a routerLink="/sleep">Sleep</a></li>
      <li><a routerLink="/sports">Sports</a></li>
      <li><a routerLink="/home">Contact</a></li>
    </ul>
    <button class="btn">
      <svg class="icon" width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path></svg>
     </button>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <ul>
    <li><a href=""></a></li>
  </ul>
</footer>